$tile-color: (
    #ffe6b3,
    #ffdc98,
    #ffd57f,
    #ffcc66,
    #ff894c,
    #fe0000,
    #ff3334,
    #ff4d4d,
    #ff6766,
    #ff999a,
    #87ff4d,
    #62ff1a,
    #51ff00,
    #00ff01,
    #00ffab,
    #66cbff,
    #1865ff
);

$game-background: white;
$app-background: #aaa;
$placeholder-background: #ddd;
$placeholder-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
$app-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

$app-border-radius: 5px;
$tile-border-radius: 5px;
