$tile-color: (
    #f1e4c1,
    #efd1b0,
    #e1e0c5,
    #f3bea8,
    #fa987b,
    #d8bfb3,
    #ef845b,
    #e5cc92,
    #f3bd48,
    #9ab73d,
    #6a9c00,
    #d7ca00,
    #009533,
    #b7b900,
    #ffb400,
    #e48400,
    #002b01
);
$game-background: #444;
$app-background: #fff;
$placeholder-background: #fff;

$placeholder-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
$app-shadow: 0px 0px 5px rgba(0, 0, 0, 0.5);

$app-border-radius: 5px;
$tile-border-radius: 5px;
